# My Data Processing

This repository is intended as a documentation of data processing steps that I usually do in excel or SQL query, so I can use it in the future, I tried it in python because excel is limited by the amount of data and memory. and I believe, by processing it in python, every data processing process will be faster.

For this note, I will not describe basic functions such as import packages or reading csv/excel. And also in this case i use SQL logic, because it easier to describe the purpose using SQL logic. the data i get from https://ourairports.com/data/

In [1]:
import pandas as pd

In [3]:
airports = pd.read_csv('airports.csv')
airport_freq = pd.read_csv('airport-frequencies.csv')
runways = pd.read_csv('runways.csv')

## SELECT, WHERE, DISTINCT, LIMIT
Here are some SELECT statements. We truncate results with LIMIT, and filter them with WHERE. We use DISTINCT to remove duplicated results.

|                      SQL                     |                 Pandas                |
|:--------------------------------------------:|:-------------------------------------:|
| select * from airports                       | airports                              |
| select * from airports limit 3               | airports.head(3)                      |
| select id from airports where ident = 'KLAX' | airports[airports.ident == 'KLAX'].id |
| select distinct type from airport            | airports.type.unique()                |

In [4]:
airports

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66513,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",no,ZYYY,NaN,NaN,NaN,NaN,NaN
66514,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
66515,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
66516,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,ZZZW,ZYW,YK96,NaN,NaN,NaN
66517,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [5]:
airports.head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN

In [6]:
airports[airports.ident == 'KLAX'].id

33251    3632
Name: id, dtype: int64

In [7]:
airports.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

## SELECT with multiple conditions
We join multiple conditions with an &. If we only want a subset of columns from the table, that subset is applied in another pair of square brackets.

|                                                  SQL                                                 |                                                       Pandas                                                       |
|:----------------------------------------------------------------------------------------------------:|:------------------------------------------------------------------------------------------------------------------:|
| select * from airports where iso_region = 'US-CA' and type = 'seaplane_base'                         | airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')]                                    |
| select ident, name, municipality from airports where iso_region = 'US-CA' and type = 'large_airport' | airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')][['ident', 'name', 'municipality']] |

In [9]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1007,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2557,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.878893,-122.512697,NaN,NaN,US,US-CA,Mill Valley,no,22CA,NaN,22CA,NaN,NaN,NaN
6409,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN
14677,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,NaN,US,US-CA,Folsom,no,C39,NaN,C39,NaN,NaN,NaN
17110,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,NaN,US,US-CA,Kelseyville,no,CN20,NaN,CN20,NaN,NaN,NaN
19567,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.550979,-122.227682,440.0,NaN,US,US-CA,Napa,no,NaN,NaN,E20,NaN,NaN,NaN
25416,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,NaN,US,US-CA,Redding,no,H77,NaN,H77,NaN,NaN,NaN
36036,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,NaN,US,US-CA,Avalon,no,KL11,NaN,L11,NaN,NaN,NaN
43385,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,NaN,US,US-CA,Oroville,no,O06,NaN,O06,NaN,NaN,NaN
47641,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,NaN,US,US-CA,Stockton,no,S74,NaN,S74,NaN,NaN,NaN
55606,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,NaN,US,US-CA,Two Harbors,no,NaN,TWH,NaN,NaN,NaN,NaN
59914,342286,US-3338,seaplane_base,Avalon Port Seaplane Base,33.345260,-118.324329,NaN,NaN,US,US-CA,Avalon,no,NaN,NaN,NaN,NaN,NaN,NaN
60032,342600,US-3456,seaplane_base,Lytle Creek Ranger Station Helipad,34.234550,-117.482360,2769.0,NaN,US,US-CA,Lytle Creek,no,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')][['ident', 'name', 'municipality']]

      ident                                               name    municipality
31459  KACV  California Redwood Coast-Humboldt County Inter...   Arcata/Eureka
31609  KBAB                               Beale Air Force Base      Marysville
31862  KCMA                    Camarillo International Airport       Camarillo
32453  KEDW                             Edwards Air Force Base         Edwards
32599  KFAT              Fresno Yosemite International Airport          Fresno
33227  KL45                  Bakersfield International Airport     Bakersfield
33251  KLAX                  Los Angeles International Airport     Los Angeles
33779  KOAK         Metropolitan Oakland International Airport         Oakland
33835  KONT                      Ontario International Airport         Ontario
35361  KSAN                    San Diego International Airport       San Diego
35368  KSBD               San Bernardino International Airport  San Bernardino
35401  KSFO                San Francisco International Airport   San Francisco
35422  KSJC    Norman Y. Mineta San Jose International Airport        San Jose
35444  KSMF                   Sacramento International Airport      Sacramento
35450  KSNA           John Wayne Airport-Orange County Airport       Santa Ana
35499  KSUU                              Travis Air Force Base       Fairfield
35734  KVBG                          Vandenberg Air Force Base          Lompoc
35750  KVIS                      Visalia International Airport         Visalia

## ORDER BY
By default, Pandas will sort things in ascending order. To reverse that, provide ascending=False.

|                                     SQL                                    |                                          Pandas                                         |
|:--------------------------------------------------------------------------:|:---------------------------------------------------------------------------------------:|
| select * from airport_freq where airport_ident = 'KLAX' order by type      | airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type')                  |
| select * from airport_freq where airport_ident = 'KLAX' order by type desc | airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type', ascending=False) |

In [11]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type')

          id  airport_ref airport_ident  type description  frequency_mhz
11960  60767         3632          KLAX   APP   SOCAL APP          36.07
11961  60766         3632          KLAX   APP   SOCAL APP         124.30
11962  60768         3632          KLAX  ATIS        ATIS         133.80
11963  60769         3632          KLAX   CLD    CLNC DEL         121.40
11964  60770         3632          KLAX   DEP   SOCAL DEP         124.30
11965  60771         3632          KLAX   GND         GND         121.65
11966  60772         3632          KLAX  MISC          CG          34.50
11967  60773         3632          KLAX  MISC          CG         898.40
11968  60774         3632          KLAX   OPS          AF          37.22
11969  60775         3632          KLAX   TWR         TWR         119.80
11970  60776         3632          KLAX  UNIC      UNICOM         122.95

In [12]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type', ascending=False)

          id  airport_ref airport_ident  type description  frequency_mhz
11970  60776         3632          KLAX  UNIC      UNICOM         122.95
11969  60775         3632          KLAX   TWR         TWR         119.80
11968  60774         3632          KLAX   OPS          AF          37.22
11966  60772         3632          KLAX  MISC          CG          34.50
11967  60773         3632          KLAX  MISC          CG         898.40
11965  60771         3632          KLAX   GND         GND         121.65
11964  60770         3632          KLAX   DEP   SOCAL DEP         124.30
11963  60769         3632          KLAX   CLD    CLNC DEL         121.40
11962  60768         3632          KLAX  ATIS        ATIS         133.80
11960  60767         3632          KLAX   APP   SOCAL APP          36.07
11961  60766         3632          KLAX   APP   SOCAL APP         124.30

## IN… NOT IN
We know how to filter on a value, but what about a list of values — IN condition? In pandas, .isin() operator works the same way. To negate any condition, use ~.

|                                  SQL                                 |                           Pandas                           |
|:--------------------------------------------------------------------:|:----------------------------------------------------------:|
| select * from airports where type in ('heliport', 'balloonport')     | airports[airports.type.isin(['heliport', 'balloonport'])]  |
| select * from airports where type not in ('heliport', 'balloonport') | airports[~airports.type.isin(['heliport', 'balloonport'])] |

In [13]:
airports[airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
9,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN
12,6532,00FD,heliport,Ringhaver Heliport,28.846600,-82.345398,25.0,NaN,US,US-FL,Riverview,no,00FD,NaN,00FD,NaN,NaN,NaN
15,6535,00GE,heliport,Caffrey Heliport,33.889245,-84.737930,957.0,NaN,US,US-GA,Hiram,no,00GE,NaN,00GE,NaN,NaN,NaN
16,6536,00HI,heliport,Kaupulehu Heliport,19.832715,-155.980233,43.0,NaN,US,US-HI,Kailua-Kona,no,00HI,NaN,00HI,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66162,345927,ZA-0247,heliport,Molori Heliport,-24.719800,26.379300,NaN,AF,ZA,ZA-U-A,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
66217,339169,ZGNT,heliport,Shenzhen Nantou Heliport,22.558736,113.925612,NaN,AS,CN,CN-44,Shenzhen (Nanshan),no,ZGNT,NaN,NaN,NaN,NaN,NaN
66241,301278,ZIZ,heliport,Zamzama Heliport,26.710944,67.667250,128.0,AS,PK,PK-SD,Zamzama Gas Field,no,NaN,ZIZ,NaN,NaN,NaN,NaN
66463,345912,ZW-0048,heliport,Chinyike Mine Heliport,-18.925900,30.274200,NaN,AF,ZW,ZW-U-A,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
66514,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad

In [14]:
airports[~airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
5,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66512,317861,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,NaN,AS,CN,CN-21,"Laobian, Yingkou",yes,ZYYK,YKH,NaN,NaN,https://en.wikipedia.org/wiki/Yingkou_Lanqi_Ai...,NaN
66513,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",no,ZYYY,NaN,NaN,NaN,NaN,NaN
66515,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
66516,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,ZZZW,ZYW,YK96,NaN,NaN,NaN
66517,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

## GROUP BY, COUNT, ORDER BY
Grouping is straightforward: use the .groupby() operator. There’s a subtle difference between semantics of a COUNT in SQL and Pandas. In Pandas, .count() will return the number of non-null/NaN values. To get the same result as the SQL COUNT, use .size().

|                                                           SQL                                                           |                                                                     Pandas                                                                    |
|:-----------------------------------------------------------------------------------------------------------------------:|:---------------------------------------------------------------------------------------------------------------------------------------------:|
| select iso_country, type, count(&ast;) from airports group by iso_country, type order by iso_country, type              | airports.groupby(['iso_country', 'type']).size()                                                                                              |
| select iso_country, type, count(&ast;) from airports group by iso_country, type order by iso_country, count(&ast;) desc | airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False]) |

In [15]:
airports.groupby(['iso_country', 'type']).size()

iso_country  type
AD           closed              1
             heliport            2
AE           closed              2
             heliport           79
             large_airport       4
                              ...
ZW           heliport            1
             large_airport       1
             medium_airport      8
             small_airport     131
ZZ           heliport            1
Length: 921, dtype: int64

In [16]:
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

    iso_country            type  size
1            AD        heliport     2
0            AD          closed     1
3            AE        heliport    79
7            AE   small_airport    20
5            AE  medium_airport     7
..          ...             ...   ...
918          ZW  medium_airport     8
915          ZW          closed     3
916          ZW        heliport     1
917          ZW   large_airport     1
920          ZZ        heliport     1

[921 rows x 3 columns]

Below, we group on more than one field. Pandas will sort things on the same list of fields by default, so there’s no need for a .sort_values() in the first example. If we want to use different fields for sorting, or DESC instead of ASC, like in the second example, we have to be explicit:

|                                                           SQL                                                           |                                                                     Pandas                                                                    |
|:-----------------------------------------------------------------------------------------------------------------------:|:---------------------------------------------------------------------------------------------------------------------------------------------:|
| select iso_country, type, count(&ast;) from airports group by iso_country, type order by iso_country, type              | airports.groupby(['iso_country', 'type']).size()                                                                                              |
| select iso_country, type, count(&ast;) from airports group by iso_country, type order by iso_country, count(&ast;) desc | airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False]) |

In [17]:
airports.groupby(['iso_country', 'type']).size()

iso_country  type
AD           closed              1
             heliport            2
AE           closed              2
             heliport           79
             large_airport       4
                              ...
ZW           heliport            1
             large_airport       1
             medium_airport      8
             small_airport     131
ZZ           heliport            1
Length: 921, dtype: int64

In [18]:
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

    iso_country            type  size
1            AD        heliport     2
0            AD          closed     1
3            AE        heliport    79
7            AE   small_airport    20
5            AE  medium_airport     7
..          ...             ...   ...
918          ZW  medium_airport     8
915          ZW          closed     3
916          ZW        heliport     1
917          ZW   large_airport     1
920          ZZ        heliport     1

[921 rows x 3 columns]

What is this trickery with .to_frame() and .reset_index()? Because we want to sort by our calculated field (size), this field needs to become part of the DataFrame. After grouping in Pandas, we get back a different type, called a GroupByObject. So we need to convert it back to a DataFrame. With .reset_index(), we restart row numbering for our data frame.

## HAVING
In SQL, you can additionally filter grouped data using a HAVING condition. In Pandas, you can use .filter() and provide a Python function (or a lambda) that will return True if the group should be included into the result.

|                                                                     SQL                                                                     |                                                                   Pandas                                                                   |
|:-------------------------------------------------------------------------------------------------------------------------------------------:|:------------------------------------------------------------------------------------------------------------------------------------------:|
| select type, count(&ast;) from airports where iso_country = 'US' group by type having count(&ast;) > 1000 order by count(&ast;) desc | airports[airports.iso_country == 'US'].groupby('type').filter(lambda g: len(g) > 1000).groupby('type').size().sort_values(ascending=False) |

In [19]:
airports[airports.iso_country == 'US'].groupby('type').filter(lambda g: len(g) > 1000).groupby('type').size().sort_values(ascending=False)

type
small_airport    14212
heliport          7097
closed            4031
dtype: int64

## Top N records
Let’s say we did some preliminary querying, and now have a dataframe called by_country, that contains the number of airports per country:

<img src="https://miro.medium.com/max/546/0*7BtzYznnc0Eu5Ghv.">

In the next example, we order things by airport_count and only select the top 10 countries with the largest count. Second example is the more complicated case, in which we want “the next 10 after the top 10”:

|                                    SQL                                   |                           Pandas                          |
|:------------------------------------------------------------------------:|:---------------------------------------------------------:|
| select iso_country from by_country order by size desc limit 10           | by_country.nlargest(10, columns='airport_count')          |
| select iso_country from by_country order by size desc limit 10 offset 10 | by_country.nlargest(20, columns='airport_count').tail(10) |

## Aggregate functions (MIN, MAX, MEAN)
Now, given this dataframe or runway data:

<img src="https://miro.medium.com/max/412/0*dl1ZaGt2fYUDlfIL.">

Calculate min, max, mean, and median length of a runway:

|                                           SQL                                          |                            Pandas                            |
|:--------------------------------------------------------------------------------------:|:------------------------------------------------------------:|
| select max(length_ft), min(length_ft), avg(length_ft), median(length_ft) from runways | runways.agg({'length_ft': ['min', 'max', 'mean', 'median']}) |